@charset "UTF-8";

*{  font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #E381FD, #AE74E3 );
    
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(127, 128, 228, 0.863);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #7e7fe1;
    text-align: center;
    text-shadow: 1px 1px 2px #6668e6a4;
}

h2 {
    color: #9987d1;
}

p  {
    text-align: justify;

}